//Custom Theme
@import './variables/';
@import './mixins/';

@import './autocomplete';
@import './button';
@import './datepicker';
@import './due-date';
@import './status';
@import './table';

.sorting-chevrons{
    display: inline-flex;
    color: $gray-500;
    flex-direction: column;
    max-height: 1.5rem;
    padding-bottom: .25rem;

    .icon{
        margin: 0;
        margin: -.25rem 0;
    }
}

//Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';